

<div class="header">
    <span class="title"> {{ moduleTitle }} </span>
</div>


<div class="body-container">

    <div class="taskbar">
        
        <a 
            [routerLink]="navigationService.getModuleUrl(item.id)"
            *ngFor="let item of plataformModules"
            [ngStyle]="{ backgroundColor: item.themeColor }" 
        class="module">
            {{ item.initials }}
        </a>

    </div>
    
    <div class="context-menu">
    
    </div>
    
    <div class="content">
        <ng-content></ng-content>
    </div>

</div>